# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html
[mysql]
# mysql默认字符集
default-character-set=utf8mb4

[mysqld]
max_connections=255
mysqlx_max_connections = 255
# mysqld默认字符集
character-set-server=utf8mb4

host_cache_size=0
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid
server_id=1
log-bin=/var/lib/mysql/mysql-bin
binlog-format=ROW
binlog_expire_logs_seconds=864000
# skip-log-bin
[client]
socket=/var/run/mysqld/mysqld.sock
