<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wang3.hami.core.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="top.wang3.hami.common.model.Account">
    <!--@mbg.generated-->
    <!--@Table account-->
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="email" property="email" />
    <result column="role" property="role" />
    <result column="password" property="password" />
    <result column="state" property="state" />
    <result column="deleted" property="deleted" />
    <result column="ctime" property="ctime" />
    <result column="mtime" property="mtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, email, `role`, `password`, `state`, deleted, ctime, mtime
  </sql>

  <select id="selectAccountByUsernameOrEmail" resultMap="BaseResultMap">
    SELECT * from account WHERE username = #{account} AND deleted = 0
    UNION
    SELECT * from account WHERE email = #{account} AND deleted = 0
  </select>

  <select id="selectAccountId" resultType="java.lang.Integer">
    SELECT id from account WHERE username = #{account} AND deleted = 0
    UNION
    SELECT id from account WHERE email = #{account} AND deleted = 0
  </select>

  <select id="scanAccountDesc" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List">
      </include>
      from account
      where id &lt; #{maxId}
        and deleted = 0
      order by id DESC
      limit #{batchSize}
  </select>

  <select id="scanAccountAsc" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List">
      </include>
      from account
      where id > #{lastId} and deleted = 0
      order by id
      limit #{batchSize}
  </select>
</mapper>