<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wang3.hami.core.mapper.ArticleDetailMapper">
  <resultMap id="BaseResultMap" type="top.wang3.hami.common.model.ArticleDetail">
    <!--@mbg.generated-->
    <!--@Table article_detail-->
    <id column="id" property="id" />
    <result column="article_id" property="articleId" />
    <result column="version" property="version" />
    <result column="content" property="content" />
    <result column="deleted" property="deleted" />
    <result column="ctime" property="ctime" />
    <result column="mtime" property="mtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, article_id, version, content, deleted, ctime, mtime
  </sql>
</mapper>