<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wang3.hami.core.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="top.wang3.hami.common.model.Article">
    <!--@mbg.generated-->
    <!--@Table article-->
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="category_id" property="categoryId" />
    <result column="title" property="title" />
    <result column="summary" property="summary" />
    <result column="content" property="content" />
    <result column="picture" property="picture" />
    <result column="deleted" property="deleted" />
    <result column="ctime" property="ctime" />
    <result column="mtime" property="mtime" />
  </resultMap>

  <resultMap id="ArticleDOMap" type="top.wang3.hami.common.model.ArticleDO">
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="category_id" property="categoryId" />
    <result column="content" property="content" />
    <result column="title" property="title" />
    <result column="summary" property="summary" />
    <result column="picture" property="picture" />
    <result column="deleted" property="deleted" />
    <result column="ctime" property="ctime" />
    <result column="mtime" property="mtime" />
    <collection property="tags" ofType="top.wang3.hami.common.model.ArticleTag">
      <result column="article_id" property="articleId" />
      <result column="tag_id" property="tagId" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, category_id, title, summary, picture, deleted, ctime,
    mtime
  </sql>

  <sql id="Full_Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, category_id, title, summary, content, picture, deleted, ctime,
    mtime
  </sql>

    <sql id="ARTICLDO_COLUMN_LIST">
        <!--@sql select -->
        t1.id          as id,
        t1.user_id     as user_id,
        t1.summary     as summary,
        t1.title       as title,
        t1.deleted     as deleted,
        t1.ctime       as ctime,
        t1.mtime       as mtime,
        t1.picture     as picture,
        t1.category_id as category_id,
        t2.tag_id      as tag_id,
        t2.article_id  as article_id
        <!--@sql from article t1 left join article_tag t2 -->
    </sql>

    <sql id="ARTICLDO_FULL_COLUMN_LIST">
        <!--@sql select -->
        t1.id          as id,
        t1.user_id     as user_id,
        t1.summary     as summary,
        t1.title       as title,
        t1.content     as content,
        t1.deleted     as deleted,
        t1.ctime       as ctime,
        t1.mtime       as mtime,
        t1.picture     as picture,
        t1.category_id as category_id,
        t2.tag_id      as tag_id,
        t2.article_id  as article_id
        <!--@sql from article t1 left join article_tag t2 -->
    </sql>

  <select id="searchArticle" resultType="top.wang3.hami.common.dto.article.ArticleSearchDTO">
      select id, user_id, category_id, picture, title, summary, ctime
      from article
      where deleted = 0
          and
            title like concat('%', #{keyword}, '%')
          or
            summary like concat('%', #{keyword}, '%')
      order by ctime desc
  </select>

  <select id="selectFollowUserArticles" resultType="java.lang.Integer">
    select t1.id
    from article t1
    join user_follow t2 on t1.user_id = t2.following
    where t2.user_id = #{user_id} and t2.`state` = 1 and t1.deleted = 0
    order by t1.id desc
  </select>

  <select id="listArticleById" resultMap="ArticleDOMap">
      select
      <include refid="ARTICLDO_COLUMN_LIST">
      </include>
      from article t1
               left join article_tag t2 on t1.id = t2.article_id
      where t1.deleted = 0
        and t1.id in
      <foreach collection="ids" open="(" separator="," close=")" item="id">
          #{id}
      </foreach>
  </select>

  <select id="selectArticleById" resultMap="ArticleDOMap">
        select
      <include refid="ARTICLDO_COLUMN_LIST">
      </include>
      from article t1
      left join article_tag t2 on t1.id = t2.article_id
      where t1.id = #{articleId} and t1.deleted = 0;
 </select>

  <select id="scanArticles" resultMap="ArticleDOMap">
      select
      <include refid="ARTICLDO_FULL_COLUMN_LIST">
      </include>
      from article t1
               left join article_tag t2 on t1.id = t2.article_id
      where t1.deleted = 0
      and t1.id in
      <foreach collection="ids" open="(" separator="," close=")" item="id">
          #{id}
      </foreach>
  </select>
</mapper>