<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wang3.hami.core.mapper.ArticleTagMapper">
  <resultMap id="BaseResultMap" type="top.wang3.hami.common.model.ArticleTag">
    <!--@mbg.generated-->
    <!--@Table article_tag-->
    <id column="id" property="id" />
    <result column="article_id" property="articleId" />
    <result column="tag_id" property="tagId" />
    <result column="deleted" property="deleted" />
    <result column="ctime" property="ctime" />
    <result column="mtime" property="mtime" />
  </resultMap>

  <resultMap id="TagDTOMap" type="top.wang3.hami.common.dto.ArticleTagDTO">
    <result column="article_id" property="articleId" />
    <collection property="tags" ofType="top.wang3.hami.common.dto.TagDTO">
      <result column="tag_id" property="tagId" />
      <result column="tag_name" property="tagName" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, article_id, tag_id, deleted, ctime, mtime
  </sql>


  <select id="getArticleTagByArticleIds" resultMap="TagDTOMap">
    select article_tag.article_id as article_id, tag.name as tag_name, tag.id as tag_id
    from article_tag
    join tag on tag.id = article_tag.tag_id
    where article_tag.deleted = 0 and
    article_tag.article_id in
    <foreach collection="articleIds" open="(" separator="," close=")" item="id">
      #{id}
    </foreach>
  </select>

</mapper>