<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wang3.hami.core.mapper.BulletinMapper">
  <resultMap id="BaseResultMap" type="top.wang3.hami.common.model.Bulletin">
    <!--@mbg.generated-->
    <!--@Table bulletin-->
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="content" property="content" />
    <result column="ctime" property="ctime" />
    <result column="mtime" property="mtime" />
    <result column="deleted" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, content, ctime, mtime, deleted
  </sql>
</mapper>