<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wang3.hami.core.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="top.wang3.hami.common.model.Comment">
        <!--@mbg.generated-->
        <!--@Table `comment`-->
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="user_id" property="userId"/>
        <result column="root_id" property="rootId"/>
        <result column="parent_id" property="parentId"/>
        <result column="reply_to" property="replyTo"/>
        <result column="ip_info" property="ipInfo"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="content" property="content"/>
        <result column="content_img" property="contentImg"/>
        <result column="deleted" property="deleted"/>
        <result column="ctime" property="ctime"/>
        <result column="mtime" property="mtime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        article_id,
        user_id,
        root_id,
        parent_id,
        reply_to,
        ip_info,
        content,
        content_img,
        deleted,
        ctime,
        mtime
    </sql>

    <update id="batchUpdateLikes" parameterType="java.util.List">
        update comment
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="likes = likes + case" suffix="end,">
                <foreach collection="comments" item="item" index="index">
                    <if test="item.likes != null and item.likes != 0">
                        when id = #{item.id} then #{item.likes}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="comments" item="item" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </update>
</mapper>