<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wang3.hami.core.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="top.wang3.hami.common.model.Comment">
    <!--@mbg.generated-->
    <!--@Table `comment`-->
    <id column="id" property="id" />
    <result column="article_id" property="articleId" />
    <result column="user_id" property="userId" />
    <result column="is_author" property="isAuthor" />
    <result column="ip_info" property="ipInfo" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    <result column="content" property="content" />
    <result column="content_img" property="contentImg" />
    <result column="root_id" property="rootId" />
    <result column="parent_id" property="parentId" />
    <result column="reply_to" property="replyTo" />
    <result column="deleted" property="deleted" />
    <result column="ctime" property="ctime" />
    <result column="mtime" property="mtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, article_id, user_id, is_author, ip_info, content, content_img, root_id, parent_id, 
    reply_to, deleted, ctime, mtime
  </sql>

  <select id="selectCommentWithParentById" resultType="top.wang3.hami.common.dto.comment.CommentInfo">
    select
        t1.id as id, t1.article_id as article_id, t1.user_id as user_id, t1.is_author as is_author,
        t1.ip_info as ip_info, t1.content as content, t1.content_img as content_img, t1.root_id as root_id,
        t1.parent_id as parent_id, t1.reply_to as reply_to, t1.deleted as deleted, t1.ctime as ctime, t1.mtime as mtime,
        t2.content as parent_content
    from comment t1
    left join comment t2 on t1.parent_id = t2.id
    where t1.id = #{id} and t1.deleted = 0;
  </select>
</mapper>