<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wang3.hami.core.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="top.wang3.hami.common.model.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="avatar" property="avatar" />
    <result column="position" property="position" />
    <result column="company" property="company" />
    <result column="profile" property="profile" />
    <result column="blog" property="blog" />
    <result column="tag" property="tag" />
    <result column="deleted" property="deleted" />
    <result column="ctime" property="ctime" />
    <result column="mtime" property="mtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, avatar, `position`, company, profile, blog, tag, deleted, ctime, mtime
  </sql>
</mapper>