<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wang3.hami.core.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="top.wang3.hami.common.model.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="user_id" property="userId" />
    <result column="username" property="username" />
    <result column="avatar" property="avatar" />
    <result column="position" property="position" />
    <result column="company" property="company" />
    <result column="profile" property="profile" />
    <result column="blog" property="blog" />
    <result column="tag" property="tag" />
    <result column="deleted" property="deleted" />
    <result column="ctime" property="ctime" />
    <result column="mtime" property="mtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, username, avatar, `position`, company, profile, blog, tag, deleted, ctime, mtime
  </sql>

  <select id="scanUserDesc" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List">
      </include>
      from user
      where user_id &lt; #{maxId}
        and deleted = 0
      order by user_id DESC
      limit #{batchSize}
  </select>
</mapper>