<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wang3.hami.core.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="top.wang3.hami.common.model.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="user_id" property="userId" />
    <result column="username" property="username" />
    <result column="avatar" property="avatar" />
    <result column="position" property="position" />
    <result column="company" property="company" />
    <result column="profile" property="profile" />
    <result column="blog" property="blog" />
    <result column="tag" property="tag" />
    <result column="deleted" property="deleted" />
    <result column="ctime" property="ctime" />
    <result column="mtime" property="mtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, username, avatar, `position`, company, profile, blog, tag, deleted, ctime, 
    mtime
  </sql>
  
<!--  &amp;lt;resultMap id="LoginUserStatMap" type="top.wang3.hami.common.dto.LoginUserStat"&amp;gt;-->
<!--    &amp;lt;result column="user_id" property="userId" /&amp;gt;-->
<!--    &amp;lt;result column="likes" property="likes" /&amp;gt;-->
<!--    &amp;lt;result column="collects" property="collects" /&amp;gt;-->
<!--    &amp;lt;result column="followings" property="followings" /&amp;gt;-->
<!--  &amp;lt;/resultMap&amp;gt;-->

<!--  &amp;lt;select id="selectLoginUserStat" resultMap="LoginUserStatMap" &amp;gt;-->
<!--    select-->
<!--        t1.user_id as user_id,-->
<!--        count(t2.liker_id) as likes,-->
<!--        count(t3.user_id) as followings,-->
<!--        count(t4.user_id) as collects-->
<!--    from user as t1-->
<!--    left join tb_like t2 on t1.user_id = t2.liker_id and t2.item_type = 1 and t2.state = 1-->
<!--    left join user_follow t3 on t1.user_id = t3.user_id and t3.state = 1-->
<!--    left join article_collect t4 on t1.user_id = t4.user_id and t4.state = 1-->
<!--    where t1.user_id = #{user_id}-->
<!--    group by t1.user_id;-->
<!--  &amp;lt;/select&amp;gt;-->
</mapper>